{% extends 'base.html' %} 
{% block intro %}
	<header class="masthead" style="
        background-image: url('https://media.istockphoto.com/photos/culinary-background-with-spices-and-recipe-book-picture-id607299402?k=6&m=607299402&s=612x612&w=0&h=eLARAbW9C2YYRCm2FXxn1yyfTVoKuKyhOvhKv0EEZl8=');
      ">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1>Dreamrecipes</h1>
						<span class="subheading">Find your favorite recipes online!</span>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
  <h2>Recently uploaded recipes</h2>
    <div class="post-preview">
      <a href="#">
        <h2 class="post-title">
          recipe1
        </h2>
        <h3 class="post-subtitle">
          short description
        </h3>
      </a>
      <p class="post-meta">
        Posted by
        <a href="#">user</a>
        on date
      </p>
    </div>
    <hr />
    
    <!-- Pager -->
    <div class="clearfix">
      <a class="btn btn-primary float-right" href="{{ url_for('recipe') }}">More recipes &rarr;</a>
    </div>
  </div>
</div>
{% endblock %}