{% extends 'base.html' %} {% block content %}
{% if session['logged_in'] == True %}
<header class="masthead_1" style="
        background-image: url('https://previews.123rf.com/images/sonyakamoz/sonyakamoz1803/sonyakamoz180300058/97759996-spring-healthy-vegan-food-cooking-ingredients-flat-lay-of-vegetables-fruit-seeds-sprouts-flowers-gre.jpg');
      ">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="site-heading">
					<a method="post" name="newrecipe" action="/newrecipe">
						<h1>Dreamrecipes</h1>
					</a>
					<!-- <form action="/newrecipe" method="post" name="newrecipe">
							<input type="submit" class="recipe-btn">
                        </form> -->
				</div>
			</div>
		</div>
	</div>
</header>
{% endif %}
<div class="row">
	<div class="col-md-3">
		<h4>Ingredients</h4>
		<ul>
			<li>Chicken
			</li>
			<li>Beef
			</li>
			<li>Pork
			</li>
			<li>Fish
			</li>
			<li>Potatoes
			</li>
			<li>Rice
			</li>
			<li>Pasta
			</li>
			<li>Vegetarian
			</li>
			<li>Vegan
			</li>
		</ul>
	</div>
	<div class="col-md-9">
		{% if homeresults == None %}
		<h1> No recipes </h1>
		{% else %}
		<div class="row featurette">
			{% for result in homeresults %}
			<div class="col-md-4">
				<h3>title</h3>
				<p>description</p>
				<!-- <img /> -->
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
</div>
{% endblock %}