{% extends 'base.html' %} 
{% block content %}
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6 contactForm">
		<div class="formhead">
			<h1>Change your password</h1>
		</div>
		<form action="/settingspassword" method="post" id="contactForm" enctype="multipart/form-data">
        {{ form.csrf_token }}
			<div class="control-group">
				<div class="form-group floating-label-form-group controls">
					<label>Old Password *</label>
					{{ form.oldpassword(class="form-control", placeholder="Old Password", id="oldpassword") }}
					<p class="help-block text-danger"></p>
				</div>
			</div>
			<div class="control-group">
				<div class="form-group floating-label-form-group controls">
					<label>New Password *</label>
					{{ form.newpassword(class="form-control", placeholder="New Password", id="newpassword") }}
					{{ form.hidden_tag() }}
					<p class="help-block text-danger"></p>
				</div>
			</div>
			<div class="form-footer">
				<input type="submit" class="btn" value="Submit">
			</div>
		</form>		
	</div>
    <div class="col-md-3"></div>
</div>
{% endblock %}